{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Профиль студента с адаптивным дизайном и возможностью редактирования">
  <title>Profile</title>
    {% load static %}
  <link  rel="stylesheet" href="{% static 'css/students-style.css' %}">
</head>
<body>
  <div class="profile-card">

    <div id="profile" class="tab-content">
      <div class="avatar"></div>
      <div class="name">{{ user.username }}</div>
      <div class="course">Course: {{ user.course }}</div>
        <div class="course">Faculty: {{ user.faculty }}</div>
      <div class="course">Email: {{ user.email }}</div>
      <div class="clubs-section">
        <h3>Signed clubs</h3>
        <ul class="club-list">
          {% for club in user.clubs.all %}
            <li>{{ club.name }}</li>
          {% empty %}
            <li>No signed clubs</li>
          {% endfor %}
        </ul>
      </div>
        <!--<button class="edit-button" onclick="toggleEditForm()">Изменить профиль</button> -->

      <button class="edit-button" onclick="window.location.href='{% url 'logout' %}'">Log out</button>
    </div>

  </div>

    <a href="{% url 'index' %}"><div class="logo"></div></a>
</body>
</html>