<!DOCTYPE html>
<link lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sxodim.SDU</title>
</head>
{% load static %}
<link href = "{%  static 'css/main.css' %}" rel = "stylesheet">
<body>
    <header>
        <div class="auth-buttons">
            <button>Sign in</button>
            <button>Register</button>
        </div>
    </header>

    <main>
        <section class="hero">
            <h1>Sxodim</h1>
            <p>Все мероприятия SDU</p>
            <div class="buttons">
                <button>Button</button>
                <button>Button</button>
            </div>
        </section>
        <section class="quotes">
            <h2>Heading</h2>
            <h3>Subheading</h3>

            <div class="quote-container">
                <div class="quote">
                    <p>"Quote"</p>
                    <h4>Title</h4>
                    <p>Description</p>
                </div>
                <div class="quote">
                    <p>"Quote"</p>
                    <h4>Title</h4>
                    <p>Description</p>
                </div>
                <div class="quote">
                    <p>"Quote"</p>
                    <h4>Title</h4>
                    <p>Description</p>
                </div>
                <div class="quote">
                    <p>"Quote"</p>
                    <h4>Title</h4>
                    <p>Description</p>
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>

</body>
</html>
