<!DOCTYPE html>
<link lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDU Sxodim</title>
</head>
{% load static %}
<link href = "{%  static 'css/main.css' %}" rel = "stylesheet">
<body>
<div class="logo"></div>
    <header id="header">

        <nav id = "about">
            <a href = "{%  url 'fortest' %}">Test</a>
            <a href = "{%  url 'profile' %}">Profile</a>
            <a href = "{% url 'about'%}">About us</a>
        </nav>
        <div class="auth-buttons">
            <button onclick = "window.location.href = '{% url 'login' %}'">Sign in</button>
            <button onclick = "window.location.href = '{% url 'register' %}'">Register</button>
        </div>
    </header>

    <main>
        <section class="hero">
            <h1>Sxodim</h1>
            <p>All SDU Events</p>
            <div class="buttons">
                <button>Button</button>
                <button>Button</button>
            </div>
        </section>
        <section class="quotes">
            <h2>Heading</h2>
            <h3>Subheading</h3>
            <div class="quote-container">
                {% for event in events%}
                    <div class="quote" data-date="{{ event.date }}">
                        <div class="quote-photo"></div>
                        <p>"{{ event.title }}"</p>
                        <h4>{{ event.organizer }} club</h4>
                        <p>{{ event.date }}</p>
                        <div class="countdown" id="countdown-{{ event.id }}"></div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <footer>

    </footer>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
