<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; color: #333; }
        .container { max-width: 600px; margin: 0 auto; padding: 20px; }
        .header { background-color: #f8f8f8; padding: 10px; text-align: center; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Добро пожаловать, {{ user_email }}!</h1>
        </div>
        <p>Спасибо за регистрацию на нашем сайте!</p>
        <p><a href="https://sdusodim.kz">Перейти на сайт</a></p>
    </div>
</body>
</html>